@width-fixed: 1280px;
@percent: 100%;
@height: 1px;
@width: 1px;
@border: 1px;
@font-size: 1px;
@display-flex: flex;
@color-hover: rgb(57, 129, 247);
@color-white: #ffffff;
@z-index: 1;
@spacing: 10px;
@font-weight: bold;
@direction: 1px;
@line-height: 1;

body {
  padding: 0 * @spacing;
  margin: @spacing*0 auto;
  font-family: "Microsoft YaHei";
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0 * @spacing;
  margin: 0 * @spacing;
  font-size: @percent;
}
a {
  text-decoration: none;
}

.container {
  width: @percent;
  height: @height*1500;
  text-align: center;
  position: relative;
  vertical-align: middle;
  background-color: rgb(245, 245, 245);
  .title p {
    color: rgb(232, 217, 216);
    font-size: @font-size*100;
    font-weight: 100;
  }
  .body {
    width: 550 * @width;
    padding-top: 6.3 * @spacing;
    margin: 0 auto;
    box-shadow: 0 3*@border  3*@border rgb(223,223,223);
    }
}

.head {
  position: relative;
  top: -63 * @direction;
  .text {
    width: @width*500;
    height: @height*60;
    font-size: @font-size*25;
    font-weight: 100;
    color: rgb(138, 138, 138);
    outline: none;
    padding: 0 0 0 5 * @spacing;
    border: none;
    position: absolute;
    left: -1 * @direction;
  }
  .text + label {
    position: absolute;
    transform: rotate(90deg);
    width: 60 * @width;
    left: -10 * @direction;
    top: 15 * @direction;
    height: 30 * @height;
  }
  .text + label:before {
    content: "❯";
    font-size: 22 * @font-size;
    color: rgb(230, 230, 230);
  }
  ::-webkit-input-placeholder {
    font-size: @font-size*30;
    color: rgb(238, 238, 238);
    font-weight: 100;
  }
}

#list {
  border-collapse:collapse;
  tr {
    width: @width*500;
    height: @height*50;
    font-size: @font-size*25;
    font-weight: 100;
    color: rgb(138, 138, 138);
    line-height: 50 * @height;
    text-align: left;
    background-color: white;
    border:@border solid rgb(237,237,237);
    td {
      width: @width*275;
      height: @height*50;
      padding-left: 5*@spacing;
      &:hover a{
        display: inline-block;
        cursor:pointer; 
      }
    }
  }
}
a{
  display: none;
  color:rgb(164,95,96);
}
