body {
  padding: 0px;
  margin: 0px auto;
  font-family: "Microsoft YaHei";
}
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0px;
  margin: 0px;
  font-size: 100%;
}
a {
  text-decoration: none;
}
.container {
  min-width: 1280px;
  /*导航栏*/
  /*整体内容区域*/
  /*底部*/
}
.container .navigation {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: #0b102d;
}
.container .navigation a:hover {
  color: #3981f7;
}
.container .navigation .main {
  width: 1280px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container .navigation .main .menu {
  list-style-type: none;
}
.container .navigation .main .logo {
  width: 180px;
  height: 45px;
}
.container .navigation .main .menu-middle {
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.container .navigation .main .menu-middle .menu-botton {
  font-size: 16px;
  color: #ffffff;
}
.container .navigation .main .menu-middle .menu-botton .one {
  display: flex;
}
.container .navigation .main .menu-middle .menu-botton .one:hover .triangle::after {
  content: "";
  width: 6px;
  height: 6px;
  border-right: 2px solid #3981f7;
  border-top: 2px solid #3981f7;
  transform: rotate(135deg);
}
.container .navigation .main .menu-middle .menu-botton .one .triangle::after {
  content: "";
  width: 6px;
  height: 6px;
  border-right: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
.container .navigation .main .menu-middle .menu-botton .dropdown-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #5f5f5f;
}
.container .navigation .main .menu-middle .menu-botton .dropdown-content {
  font-size: 14px;
  margin-top: 10px;
}
.container .navigation .main .menu-middle .menu-botton .dropdown-content a {
  color: #d0d0d0;
}
.container .navigation .main .menu-middle .product {
  position: relative;
}
.container .navigation .main .menu-middle .product a:hover {
  color: #3981f7;
}
.container .navigation .main .menu-middle .product .dropdown-product {
  display: none;
  position: absolute;
  background-color: rgba(11, 16, 45, 0.8);
  min-width: 500px;
  height: 220px;
  padding: 40px 20px;
  border-radius: 5px;
  top: 52px;
  left: -250px;
}
.container .navigation .main .menu-middle .product .dropdown-product .product-main {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.container .navigation .main .menu-middle .product .dropdown-product .product-main .product-up,
.container .navigation .main .menu-middle .product .dropdown-product .product-main .product-down {
  flex: 0 0 32%;
  margin-right: 5px;
}
.container .navigation .main .menu-middle .product .dropdown-product .product-main .product-down {
  margin-top: 20px;
}
.container .navigation .main .menu-middle .product .dropdown-product:before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 250px;
  width: 0px;
  height: 0px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-bottom-width: 16px;
  border-bottom-color: currentColor;
  color: #0b102d;
}
.container .navigation .main .menu-middle .product:hover .dropdown-product {
  display: block;
}
.container .navigation .main .menu-middle .solution {
  position: relative;
}
.container .navigation .main .menu-middle .solution .dropdown-solution {
  display: none;
  position: absolute;
  background-color: rgba(11, 16, 45, 0.8);
  min-width: 150px;
  border-radius: 5px;
  padding: 20px;
  top: 52px;
  left: -70px;
}
.container .navigation .main .menu-middle .solution .dropdown-solution .solution-down {
  margin-top: 20px;
}
.container .navigation .main .menu-middle .solution .dropdown-solution:before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 80px;
  width: 0px;
  height: 0px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-bottom-width: 16px;
  border-bottom-color: currentColor;
  color: #0b102d;
}
.container .navigation .main .menu-middle .solution:hover .dropdown-solution {
  display: block;
}
.container .navigation .main .menu-middle .resources {
  position: relative;
}
.container .navigation .main .menu-middle .resources a:hover {
  color: #3981f7;
}
.container .navigation .main .menu-middle .resources .dropdown-resources {
  display: none;
  position: absolute;
  background-color: rgba(11, 16, 45, 0.8);
  min-width: 300px;
  height: 120px;
  padding: 20px;
  border-radius: 5px;
  top: 52px;
  left: -150px;
}
.container .navigation .main .menu-middle .resources .dropdown-resources .resources-main {
  display: flex;
  justify-content: space-around;
}
.container .navigation .main .menu-middle .resources .dropdown-resources .resources-main .document,
.container .navigation .main .menu-middle .resources .dropdown-resources .resources-main .sdk {
  width: 120px;
}
.container .navigation .main .menu-middle .resources .dropdown-resources:before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 150px;
  width: 0px;
  height: 0px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-bottom-width: 16px;
  border-bottom-color: currentColor;
  color: #0b102d;
}
.container .navigation .main .menu-middle .resources:hover .dropdown-resources {
  display: block;
}
.container .navigation .main .logon {
  font-size: 16px;
  color: #ffffff;
}
.container .navigation .main .logon span {
  color: #838696;
}
.container .navigation li a {
  color: #ffffff;
}
.container .content {
  /*动画区域*/
  /*文字标题区域*/
  /*六个模块*/
  /*6个活动模块*/
  /*6个图标*/
  /*3大模块*/
  /*列表*/
}
.container .content .animation {
  margin: 0px;
  padding: 0px;
}
.container .content .animation .animation-img {
  width: 100%;
}
.container .content .sadf {
  width: 1280px;
  margin: 0px auto;
  margin-top: 60px;
}
.container .content .sadf .sadf-up {
  color: #525a6c;
  font-size: 25px;
  text-align: center;
}
.container .content .sadf .sadf-up p {
  font-weight: bold;
}
.container .content .sadf .sadf-down {
  color: #555867;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}
.container .content .modules {
  margin: 30px 50px;
  width: 1280px;
  margin: 0px auto;
}
.container .content .modules .modules-up,
.container .content .modules .modules-down {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.container .content .modules .modules-up .six-modules,
.container .content .modules .modules-down .six-modules {
  width: 370px;
  height: 150px;
  box-shadow: 0 0 10px #e6e6e6;
  padding: 40px 20px;
  display: flex;
}
.container .content .modules .modules-up .six-modules .modules-img,
.container .content .modules .modules-down .six-modules .modules-img {
  width: 40px;
  height: 32px;
  margin-right: 10px;
}
.container .content .modules .modules-up .six-modules .modules-title,
.container .content .modules .modules-down .six-modules .modules-title {
  color: #525a6c;
  font-size: 25px;
  font-weight: bold;
}
.container .content .modules .modules-up .six-modules .modules-content,
.container .content .modules .modules-down .six-modules .modules-content {
  color: #6c7282;
  font-size: 14px;
  margin-top: 10px;
  line-height: 2;
}
.container .content .professional {
  width: 1280px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.container .content .professional p {
  color: #ffffff;
}
.container .content .professional .professional-modules {
  flex: 0 0 33%;
  flex-wrap: wrap;
  height: 330px;
  position: relative;
  border: 1px solid #ffffff;
  overflow: hidden;
}
.container .content .professional .professional-modules:hover .professional-img {
  transform: translate(0, -35px);
  transition: all 0.3s ease 0s;
}
.container .content .professional .professional-modules:hover .part {
  transform: translate(0, -35px);
  transition: all 0.3s ease 0s;
}
.container .content .professional .professional-modules:hover .part .professional-content {
  display: block;
}
.container .content .professional .professional-modules .professional-img {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: -20px;
}
.container .content .professional .professional-modules .part {
  z-index: 1;
}
.container .content .professional .professional-modules .part .professional-content {
  display: none;
  padding: 20px;
}
.container .content .professional .professional-modules .part .professional-title {
  font-size: 25px;
  text-align: center;
  padding-top: 130px;
  height: 30px;
}
.container .content .scene {
  background-image: url(asset/application-scenarios.jpg);
  background-repeat: no-repeat;
  background-color: #1f3656;
  background-position: center;
  width: 100%;
  height: 600px;
  margin-top: 40px;
}
.container .content .scene .scene-menu {
  position: relative;
  width: 1280px;
  height: 100%;
  margin: 0px auto;
}
.container .content .scene .scene-menu .scene-main:hover {
  background-color: rgba(22, 33, 61, 0.8);
}
.container .content .scene .scene-menu .scene-main:hover .scene-content {
  display: block;
}
.container .content .scene .scene-menu .talk {
  text-align: right;
  position: absolute;
  left: -70px;
  top: 50px;
  width: 20%;
  padding: 10px;
  border-radius: 10px;
}
.container .content .scene .scene-menu .finance {
  text-align: left;
  position: absolute;
  left: 695px;
  top: 95px;
  width: 20%;
  padding: 20px;
  border-radius: 10px;
}
.container .content .scene .scene-menu .landed {
  text-align: right;
  position: absolute;
  left: 830px;
  top: 150px;
  width: 20%;
  padding: 20px;
  border-radius: 10px;
}
.container .content .scene .scene-menu .retail {
  text-align: left;
  position: absolute;
  left: 595px;
  top: 300px;
  width: 20%;
  padding: 20px;
  border-radius: 10px;
}
.container .content .scene .scene-menu .education {
  text-align: right;
  position: absolute;
  left: 0px;
  top: 395px;
  width: 20%;
  padding: 20px;
  border-radius: 10px;
}
.container .content .scene .scene-menu .collection {
  text-align: left;
  position: absolute;
  left: 965px;
  top: 435px;
  width: 20%;
  padding: 20px;
  border-radius: 10px;
}
.container .content .scene .scene-menu li {
  list-style-type: none;
}
.container .content .scene .scene-menu .scene-title {
  color: #ffffff;
  font-size: 22px;
}
.container .content .scene .scene-menu .scene-content {
  display: none;
  font-size: 16px;
  color: #ffffff;
  margin-top: 20px;
  line-height: 2;
}
.container .content .case {
  margin: 30px 0 60px 0;
}
.container .content .case .case-main {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}
.container .content .case .case-main .case-modules {
  width: 25%;
  text-align: center;
  border: 1px solid #ffffff;
}
.container .content .case .case-main .case-modules .case-title {
  margin-top: 20px;
  font-size: 16px;
  color: #525a6c;
  font-weight: bold;
}
.container .content .case .case-main .case-modules .case-content {
  font-size: 14px;
  color: #6d7174;
  line-height: 2;
  margin-top: 20px;
  text-align: left;
}
.container .content .list {
  margin-top: 40px;
}
.container .content .list .line {
  width: 1280px;
  font-size: 12px;
  height: 50px;
  border-spacing: 0px;
  line-height: 3.5;
  margin: 0px auto;
  vertical-align: middle;
  border: 1px solid #ececec;
}
.container .content .list .line td {
  width: 50%;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #ececec;
}
.container .content .list .line .list-title td {
  color: #555d6f;
  font-weight: bold;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #ececec;
  background-color: #f8f8f9;
}
.container .content .list .line .line-one {
  text-align: center;
}
.container .content .list .line .line-one td {
  color: #7b818f;
}
.container .content .list .line .line-one:hover {
  background-color: #eaf7fe;
}
.container .content .list .line .line-two {
  text-align: center;
  background-color: #f8f8f9;
}
.container .content .list .line .line-two:hover {
  background-color: #eaf7fe;
}
.container .content .list .line .line-two td {
  color: #7b818f;
}
.container .bottom {
  width: 100%;
  height: 100%;
  min-width: 1280px;
  background-color: #121e30;
  margin-top: 40px;
}
.container .bottom .bottom-main {
  width: 1280px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.container .bottom .bottom-main .bottom-body {
  margin-top: 60px;
}
.container .bottom .bottom-main .bottom-body a:hover {
  color: #3981f7;
}
.container .bottom .bottom-main .bottom-body .bottom-title {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}
.container .bottom .bottom-main .bottom-body .bottom-content {
  font-size: 14px;
  color: #f0f0f2;
  line-height: 2.3;
}
.container .bottom .bottom-main .bottom-img {
  width: 200px;
  height: 200px;
  margin: 50px 0;
}
