body {
  padding: 0;
  margin: 0 auto;
  font-family: "Microsoft YaHei";
}
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
  font-size: 100%;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  min-width: 350px;
  height: 1500px;
  background-color: #6b8b88;
  padding-top: 200px;
}
.player {
  width: 350px;
  height: 80px;
  border-radius: 10px;
  background-color: #d9dcdc;
  margin-left: 37.2%;
  display: flex;
  position: relative;
  box-shadow: 0 20px 20px #293534;
}
.player .cd {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  top: -20px;
  left: 20px;
  background-image: url(asset/goodnight.png);
  background-size: 100%;
  position: relative;
}
.player .circle {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 50px;
  width: 15px;
  height: 15px;
  background-color: rgba(217, 220, 220, 0.9);
  border-radius: 50%;
}
.button {
  margin-left: 120px;
  margin-top: 15px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.button .change {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 10px;
  background-color: #d9dcdc;
}
.button .change .upper {
  width: 26px;
  position: absolute;
  top: 11px;
  left: 10px;
}
.button .change .lower {
  width: 26px;
  position: absolute;
  top: 11px;
  left: 12px;
}
.button .change:hover {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #979b9b;
  cursor: url(asset/cur.png), pointer;
}
.button .icon {
  width: 50px;
  height: 50px;
  position: relative;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #d9dcdc;
  background-image: url(asset/play.png);
  background-size: 45px;
  background-position: 2px 2px;
}
.button .icon:hover {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #979b9b;
  cursor: url(asset/cur.png), pointer;
}
.button .menu {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 10px;
  background-color: #d9dcdc;
  background-image: url(asset/stop.png);
  background-size: 45px;
  background-position: 2px 2px;
  display: none;
}
.button .menu:hover {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #979b9b;
  cursor: url(asset/cur.png), pointer;
}
.song {
  width: 330px;
  height: 70px;
  top: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(218, 220, 220, 0.6);
  position: absolute;
  left: 38%;
}
.song p {
  display: inline-block;
  color: #514c50;
  margin-top: 5px;
  padding-left: 100px;
}
.song .name {
  font-size: 15px;
}
.song .singer {
  font-size: 10px;
}
.progress {
  width: 225px;
  height: 6px;
  border-radius: 7px;
  margin-left: 100px;
  margin-top: 10px;
  background: #d9dcdc;
}
.progress .loader {
  height: 100%;
  /*进度条长度*/
  width: 0%;
  background: #6b8b88;
  border-radius: 7px;
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.2);
  animation: loader 1s linear;
}
