body {
  padding: 0;
  margin: 0 auto;
  font-family: "Microsoft YaHei";
}
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
  font-size: 100%;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  height: 1500px;
  background-color: #6b8b88;
  padding-top: 200px;
  position: relative;
}
.player {
  width: 350px;
  height: 80px;
  border-radius: 10px;
  background-color: #d9dcdc;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0 20px 20px #293534;
}
.cd {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: 20px;
  background-image: url(asset/goodnight.png);
  background-size: 100%;
}
.cd:hover {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: 20px;
  background-image: url(asset/goodnight.png);
  background-size: 100%;
}
.cd .circle {
  width: 15px;
  height: 15px;
  background-color: #d9dcdc;
  margin: 27px 0 0 23px;
  border-radius: 50%;
}
.button {
  margin-left: 100px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button .change {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 10px;
  background-color: #d9dcdc;
}
.button .change .upper {
  width: 26px;
  position: absolute;
  top: 11px;
  left: 10px;
}
.button .change .lower {
  width: 26px;
  position: absolute;
  top: 11px;
  left: 12px;
}
.button .change:hover {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #979b9b;
  cursor: url(asset/cur.png), pointer;
}
.button .icon {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 10px;
  background-color: #d9dcdc;
  background-image: url(asset/play.png);
  background-size: 45px;
  background-position: 2px 2px;
  /*.play {
      width: 40px;
      position: absolute;
      top: 3px;
      left: 6px;
    }*/
}
.button .icon:hover {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #979b9b;
  cursor: url(asset/cur.png), pointer;
}
.song {
  width: 330px;
  height: 70px;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(218, 220, 220, 0.7);
  position: absolute;
  left: 525px;
  display: none;
}
.song p {
  display: inline-block;
  color: #514c50;
  margin-top: 5px;
  padding-left: 100px;
}
.song .name {
  font-size: 15px;
}
.song .singer {
  font-size: 10px;
}
.song .progress {
  padding-left: 100px;
}
