body{
    padding:0px;
    margin:0px auto;
    font-family:'Microsoft YaHei';
    min-width:1400px;
}
ul,li,form,dl,dt,dd, div{
    padding:0px;
    margin:0px;
}
h1,h2,h3,h4,h5,p{
    padding:0px;
    margin:0px;
    font-weight:normal;
    font-size:100%;
}
a{
    text-decoration:none;
    color:#666666;
}




.container {
    background:#f0f0f0;
    padding:2%;
    width:100%;
    height:800px;
}
.chatting {
    width:22%;
    display:inline-block;
    background:white;
    margin-left: 2%;
    border-radius:10px;
    padding:10px 0 0 10px;
    list-style:none;
}
.screen { 
    margin-right:20px;
}
.up {
    border-bottom:1px solid #f0f0f0;
    padding-bottom:10px;
}
.bell {
    width:40px;
    height:40px;
    display:inline-block;
}
.num {
    display:inline-block;
    margin-left:10px;
}
.spot {
    display:inline-block;
    font-size:10px;
    list-style-type:disc;
    color: #8e8e8e;
    line-height:7px;
    margin:0 10px 8px 125px;
}
.top {
    color:#46a3ff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
}
.bottom {
    margin-top:10px;
    color:#8e8e8e;
    font-family:Arial, Helvetica, sans-serif;
}
.dialog-box {
    font-size:13px;
    border-bottom:1px solid #f0f0f0;
    padding-bottom:20px;
}
.agent-one {
    width:200px;
    border-top-left-radius:15px;
    background-color:#00caca;
    color:white;
    padding:12px;
    margin:30px 0 30px 50px;
}
.dialog {
    border-top-right-radius:15px;
    border-bottom-left-radius:15px;
}
.user {
    width:20px;
    height:20px;
    border-bottom-right-radius:15px;
    background-color:#f0f0f0;
    padding:5px;
    margin:0 60px 0 0;
}
.agent-two {
    width:15px;
    border-top-left-radius:15px;
    display:inline-block;
    background-color:#00caca;
    color:white;
    padding:12px;
    margin:20px 0 30px 230px;   
}
p {
    font-family:Arial, Helvetica, sans-serif;
}

.img-one {
    width:25px;
    height:25px;
}
.img-two {
    width:40px;
    height:40px;
}
.button-box {
    padding:10px 50px 20px 50px;
    list-style:none;
}
.push {
    display:inline-block;
    border-radius:50%;
    background-color:white;
    margin-left:20px;
    padding:4px;
    box-shadow:2px 2px  5px 3px #f6f6f8;
}
.button-one {
    margin-top:10px;
}